<%@ tag language="java" pageEncoding="Utf-8"%>
<!DOCTYPE html>
<html>
<head>
<link href="/Team4Great/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
<title>Iseseisevtöö nr 3</title>
</head>
<body>
<jsp:doBody />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>